@mixin box {
    box-shadow:5px 5px $bg-classic;
    position: relative;
    bottom: 50px;
    background-color: $bg-pink-mid;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    
}
@mixin button {
 border-radius: 15px;
 margin:auto auto;
 width: 60%;
 background-color:$bg-light;
 border: solid 3px black;

}
div.title-wrap{
background-image: linear-gradient(to top rgba(0, 220, 0,0.3), rgba(0,90,100, 0.3)), url('../img/mainPics/coffee-beans-1291656_1280.jpg');
height: 75vh;

    h1{
        @include titleText();
    }


}

div.box-wrap{
    display: flex;
    justify-content: space-around;
    width: 75vw;
    margin: auto;

    div.box{
        @include box();
        transition: border-radius 3s ease-in, transform 3s ease-in-out ;
        h3{
            @include titleText();
        }

        img.box-img{
            width: 100%;
            height: 25%;
        }
        button.box-btn{
        @include button()
        }
        button.box-btn:hover{
        background-color:$bg-classic;
        border: solid 3px white;
        
        
        }

        &:hover{
            border-radius: 25%;
            transform: scale(1.2);
        }
    }

}