
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Nav ber style

nav{
background-color: $bg-pink;
  ul.li-wrap{
      
      display: flex;
    justify-content: space-around;
    width: 30vw;
      li.a-wrap{
          list-style: none;

          a.a-link{
              text-decoration: none;
              color: $dark-text;
              font-family: $spec-text;

          }
      }
  }  

}